<h1>Homepage</h1>

<%= link_to 'Feriados Canadênses', covid_path %> <br>
<%= link_to "Top 5 países com covid", covid_path %> <br>
<%= javascript_include_tag 'chart' %>
<% @countries.each do |country| %>
  <%= link_to 'Dados do ' << country, '/covid/' << country %><br>
<% end %>
